name: Continuous Integration

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master
  create:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

env:
  DOCKER_BUILDKIT: 1

jobs:

  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Unit Tests
        run: make test
      - name: Build Prometheus-Exporter
        run: make nginx-prometheus-exporter
      - name: Build Image
        uses: docker/build-push-action@v1
        with:
          repository: nginx/nginx-prometheus-exporter
          dockerfile: build/Dockerfile
          path: '.'
          tag_with_sha: true
          push: false

  release:
    name: Release Image
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'create' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Retrieve Tag
        id: get_version
        run: echo ::set-output name=GIT_TAG::$(echo ${GITHUB_REF/refs\/tags\//} | tr -d v)
      - name: Push to Dockerhub
        uses: docker/build-push-action@v1
        with:
          repository: nginx/nginx-prometheus-exporter
          dockerfile: build/Dockerfile
          path: '.'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ${{ secrets.DOCKER_REGISTRY }}
          tag_with_ref: false
          tags: ${{ steps.get_version.outputs.GIT_TAG }},latest
          push: true