name: Fossa

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENSE'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:

  scan:
    name: Fossa
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      - name: Scan
        uses: fossas/fossa-action@f61a4c0c263690f2ddb54b9822a719c25a7b608f # v1.3.1
        with:
          api-key: ${{ secrets.FOSSA_TOKEN }}
